{% block scripts %}
<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/popper.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script> 
{% if token %}
  <script>
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "{{ token }}");
        }
      }
    });
  </script> 
{% endif %} 
{% endblock scripts %}
