<!doctype html>
<html>

<head>
  {% if title %}
    <title>{{title}}</title>
  {% else %}
    <title>Homepage</title>
  {% endif %} 
  {% include 'includes/css.html' %}
</head>

<body class="bg-secondary">
  {% block content %}{% endblock content %} 
  {% include 'includes/js.html' %} 
  {% block js%}{% endblock js %}
</body>

</html>
